<div class="container" ng-controller="EditArticleController as editArticleCtrl">
    <section class="row">

        <h2>Article ID: {{editArticleCtrl.id}}</h2>
        <p>Last modified: <span ng-bind="editArticleCtrl.dateTime | date:'MM/dd/yyyy HH:mm:ss'"></span></p>
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" ng-model="editArticleCtrl.title" />
        </div>
        <input type="button" ng-click="editArticleCtrl.putArticle()" class="btn btn-primary" value="update" />
        <input type="button" ng-click="editArticleCtrl.deleteArticle()" class="btn btn-danger" value="delete" />

    </section>
</div>